{% extends "startup.html" %}
{% block title %} User {% endblock title %} 
{% block body%}

<section style="display:flex; gap : 40px;">
    <div class="friends"> 

        <h2 style="text-align: center; font-family: cursive;" > Chats </h2>
        
        <!-- <div class="friends">  -->
            <ui>
                {% for i in sample%}
                
                <li id="sp-friend-id" style="cursor: pointer;" onclick="document.getElementById('{{i.3}}').submit();"> 
                    <form id="{{i.3}}" action="http://127.0.0.1:8000/user/{{i.3}}/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="{{i.3}}" value="{{i.3}}">
                </form>
                    
                    <div class="first-letter-username"> {{ i.0.0.capitalize }} </div>
                    <div id="user-names-chat">
                        <p id="{{i.0}}" style="font-size: 18px; cursor: pointer;"> {{ i.0 }} </p>
                        <p style="margin-top: -10px; font-size: 14px; cursor: pointer;">&nbsp;&nbsp; {{i.1}} : {{i.2}}</p>
                    </div>
                </li>     
                <br>
            {%endfor%}

        </ui>
    <!-- </div> -->
    </div>
    {% if current_user != "..." %}
    <div id="over-chat-box">
        <p class="showuser" style="padding-right: 10px;"> {{current_user}} <a style="float: right; padding: 0;" href="#" onclick="fullscreen()"><img style="filter : invert(1); width: 19px;" src="/static/fullscreen.png"></a></p>  
        <div class="chat-box" id="chat-box"> 
            <p id="pclient" style="margin: 8px; ">
                <i id="client" style="position: relative;">Welcome to BlueTalks !</i> 
            </p>
        </div> 
        <div class="typing-box" > 
            <form method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Type your message ..." class="msg" name="ori-msg" id="msg-typing-box">
                <input type="button" value="Send" class="msg" id="msg-send">
            </form>
        </div>
    </div>    
    {%else%}
    <div id="over-chat-box" style="background-image: url('/static/BlueTalks.png'); background-size: 30px; background-color: rgba(0,0,0,0.6); background-blend-mode: color;">
        <img src="\static\Blue Talks.png" alt="Logo" height="430" id="logo" style="position: relative; top: 4%; left: 23%; filter: brightness(100%)">    
    </div>
    {%endif%}
</section><br>


{{friend_username|json_script:"friend_username"}}
{{username|json_script:"username"}}
{{current_user|json_script:"current_user"}}
{{theme|json_script:"theme"}} 
{{fullname|json_script:"admin"}} 


<script>

    var value = ""
    var fetch_value = ""
    const current_user = String(document.getElementById("current_user").textContent).replace(/^"|"$/g, '');
    const username = document.getElementById("username").textContent
    const friend_username = document.getElementById("friend_username").textContent
    const theme = document.getElementById("theme").textContent
    const admin = document.getElementById("admin").textContent

    const chatbox = document.getElementsByClassName("chat-box")[0]
    const overchatbox= document.getElementById("over-chat-box")

    // console.log("Username : ",username,"\nTheme : ",theme,"\nGenerator : ",generator,"Filler : ",filler,"\nTotal_User : ",total_user,"\nFriend_Username : ",friend_username,"\nGeneuser : ",genuser,"\nFilluser : ",filluser ,"\ncode : ",code,"\nchatbox : ",chatbox,"\noverchatbox : ",overchatbox,"\ncurrent user : ",current_user)
    
    var room_no = ""
    console.log("Friend Username : ",friend_username) 
    if(current_user != "..."){
        console.log("Current USer is there  : ",current_user) 
        

        var ws = new WebSocket("ws://"+window.location.host+"/ws/sc/user/"+friend_username+"/")
        
        var usernamechange = document.getElementsByClassName('showuser')[0] 
        
        
        
        ws.onopen = function(){
            console.log("connection successfull ")
            console.log("username",current_user ) 
            ws.send(JSON.stringify({'room_no':"...",'receiver':username})) 
        }
    ws.onmessage = function(event){
        console.log(event)
        const msgg = JSON.parse(event.data)
        console.log(msgg) 

        if(msgg.type == "msg_direct_send"){  
            usernames = String((JSON.parse(event.data)).username)
            usernamechange.innerText = String(usernames[1]).toUpperCase() +((usernames).slice(2)).replace('"',"")
            document.getElementsByClassName('loader')[0].style.display = 'none';
            document.getElementById('wait').style.display = 'none';
            document.getElementsByClassName('typing-box')[0].style.display = 'block';
        }

        
        else if('room_no' in msgg && room_no == ""){
            console.log("YES room number is here !",msgg.room_no) 
            room_no = msgg.room_no
            console.log(msgg)  
            return;
        }
        else if('room_nos' in msgg && msgg.msg == "reload1this1page"){
            console.log("Reloaded page")
            location.reload() 
            return
            
        }
        else{
        const msg = JSON.parse(event.data)
        ts = theme.split(",")
        const pclient = document.getElementById("pclient"); 
        const client = document.getElementById("client");
        client.style.fontFamily = ts[1].replaceAll("'","");
        client.style.fontSize = ts[2].replaceAll("'","");
        client.style.borderColor = ts[3].replaceAll("'","");
        
        var pclientClone = pclient.cloneNode(true);
        pclientClone.id = msg.msg;
        pclientClone.class = 'clients';
        pclientClone.style.fontFamily = ts[1].replaceAll("'","");
        pclientClone.style.fontSize = ts[2].replaceAll("'","")+"px";
        chatbox.style.background = `radial-gradient(circle , ${ts[5].replaceAll("'","")},${ts[6].replaceAll("'","")})`;
        overchatbox.style.borderColor = `${ts[7].replaceAll("'","")}`;
        console.log("border color is : ",ts , ts[7] ," ", overchatbox.style.borderColor )
        
        
        fetch_value = msg.msg;
        
        console.log(msg.msg)
        
        const childClone = pclientClone.querySelector('#client');
        if(childClone){
            childClone.id = msg.msg;
            // childClone.class = 'clients';
            
            // // document.body.appendChild(childClone); // Ensure it's in the DOM


            // msgs = document.getElementById(msg.msg)
            // msgs.style.display = "block"
            // msgs.classList.add('hide-before') 
            // msgs.addEventListener('click',function(event){

            //     if(msgs.classList.contains('show-before')){
            //         msgs.classList.remove('show-before')
            //         msgs.classList.add('hide-before')
            //     }
            //     else{
            //         msgs.classList.add('show-before')
            //         msgs.classList.remove('hide-before')
            //     }
            // })
            
            childClone.textContent = msg.msg;
            childClone.style.margin = "-2px"
            
            console.log("Fetch Value : ",fetch_value,"\nValue : ",value)
            if(msg.receiver){
                
                if( msg.receiver == current_user){
                    childClone.style.borderColor = `${ts[4].replaceAll("'","")}`; 
                    console.log("Border Color : ",childClone.style.borderColor)
                    childClone.style.float = "right"; 

                    childClone.addEventListener('dblclick',function(event){
                        console.log(childClone.innerText)
                        ws.send(JSON.stringify({'msg':childClone.innerText, 'U1':current_user ,'U2':admin, 'room_no':room_no,'dblclk':'True'}))     
                        
                    })
                }
                else if(msg.receiver != current_user){
                    childClone.style.borderColor = ts[3].replaceAll("'","");  
                    childClone.style.float = "left"; 
                    childClone.addEventListener('dblclick',function(event){
                        console.log(childClone.innerText)
                        ws.send(JSON.stringify({'msg':childClone.innerText, 'U1':current_user ,'U2':admin, 'room_no':room_no,'dblclk':'True'}))     
                    })  
                }
                
            }
            else{
                if(fetch_value == value){
                    childClone.style.borderColor = ts[4].replaceAll("'",""); 
                    childClone.style.float = "right"; 
                    childClone.addEventListener('dblclick',function(event){

                        ws.send(JSON.stringify({'msg':childClone.innerText, 'U1':current_user ,'U2':admin , 'room_no':room_no,'dblclk':'True'}))     
                    })  
                }
                else if(fetch_value != value){
                    childClone.style.borderColor = ts[3].replaceAll("'",""); 
                    childClone.style.float = "left"; 
                    childClone.addEventListener('dblclick',function(event){
                        ws.send(JSON.stringify({'msg':childClone.innerText, 'U1':current_user ,'U2':admin , 'room_no':room_no,'dblclk':'True'}))     
                        console.log(childClone.innerText)
                    })  
                    
                }
            }

            fetch_value = ""
            value = ""
        }

            
        var chat_box = document.querySelector(".chat-box");
        chat_box.appendChild(pclientClone); 
        console.log(pclientClone)
        
        var messageBody = document.querySelector('.chat-box');
        messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
        
        // console.log("This is class : ",clientElement.className)         
    }
}

ws.onclose = function(event){
    if (event.code === 4001) {
        alert("The group is full. Please try again later.");
    }
    console.log("connection Disconnected")
}

const send_btn = document.getElementById("msg-send")
send_btn.onclick = function(event){
    const data_fetch = document.getElementById("msg-typing-box")
    value = data_fetch.value
    if(String(value) != ""){
        console.log("the value is : ",value )
        data_fetch.value = ""
        console.log("room no. ",room_no)
        
        ws.send(JSON.stringify({'msg':value, 'receiver':username , 'room_no':room_no}))    
    }
}
function chatopen(){
    var store = document.querySelectorAll(".sp-friend")
    store.forEach(function(friend){
        friend.addEventListener('click',function(){
            var actual_name = (friend.innerText).split("\n")
            console.log(actual_name);
            document.getElementsByClassName("showuser")[0].innerText = actual_name[actual_name.length - 1];
        });
    });
}

}
function fullscreen(){
    if(document.getElementsByClassName('friends')[0].style.display != 'none'){

        document.getElementsByClassName('friends')[0].style.display = "none"
        document.getElementsByClassName('msg')[0].style.maxWidth = "1111px"
        document.getElementById('over-chat-box').style.marginLeft = "84px"
        document.getElementById('over-chat-box').style.maxWidth = "1420px"
        document.getElementsByClassName('chat-box')[0].style.maxWidth = "inherit"
        console.log("Display : ",document.getElementsByClassName('friends')[0].style.display )
    }
    else if(document.getElementsByTagName('nav')[0].style.display != "none"){
        document.getElementsByTagName('nav')[0].style.display = "none"
        document.getElementsByTagName('footer')[0].style.display = "none"
        document.getElementById('over-chat-box').style.height = "580px"
        document.getElementsByClassName('chat-box')[0].style.height = "508px"
        
    }
    
    else{
        document.getElementsByTagName('footer')[0].style.display = ""
        document.getElementsByTagName('nav')[0].style.display = ""
        document.getElementsByClassName('friends')[0].style.display = "block"
                document.getElementById('over-chat-box').style.height = ""
        document.getElementsByClassName('chat-box')[0].style.height = ""
        document.getElementsByClassName('msg')[0].style.maxWidth = ''
        document.getElementById('over-chat-box').style.marginLeft = ''
        document.getElementById('over-chat-box').style.maxWidth = ''
        document.getElementsByClassName('chat-box')[0].style.maxWidth = ''
    }
    
}



</script>
                    


{% endblock %}